@mixin flex($wrap, $justify, $align) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;

}

@mixin font($fontw,$size,$color){
    font-weight: $fontw;
    font-size: $size;
     color: $color;

}